
body {
    background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
      /* Tworzy tło z gradientem kolorów tęczy */
      height: 100vh; /* Ustawia wysokość na pełną wysokość okna przeglądarki */
      margin: 0; /* Usuwa domyślne marginesy */
      padding: 0; /* Usuwa domyślne wcięcia */
}



h1 {
    font-size: 100;
    justify-content: end;
}

h2 {
    font-size: 400;
    justify-content: end;
}
    img {
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
}