
body {
    background-color: #bce1ff96;
    text-align: center;
}



h1 {
    font-size: 100;
    justify-content: end;
}

h2 {
    font-size: 400;
    justify-content: end;
}
    img {
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
}